.dark-mode {
    background-color: #121212; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto claro */
  }
  
  .dark-mode button {
    background-color: #333333; /* Color de fondo de botones en modo oscuro */
    color: #ffffff; /* Color de texto de botones en modo oscuro */
  }