<div class="contenedor">
  <div class="izquierda">
    <div class="button-container">
      <div class="top-buttons">
        <app-btn-aceptar (aceptar)="onAceptar()"></app-btn-aceptar>
        <app-btn-cancelar (cancelar)="onCancelar()"></app-btn-cancelar>
      </div>
      <div class="bottom-buttons">
        <app-btn-primario (cambiarColor)="cambiarColor($event)"></app-btn-primario>
        <app-btn-secundario (cambiarTamano)="cambiarTamano()"></app-btn-secundario>
      </div>
      <app-btn-modo-noche></app-btn-modo-noche>
    </div>

    <app-email 
      (errorOccurred)="onEmailError($event)" 
      [(email)]="email">
    </app-email>
    <div *ngIf="emailErrorMessage" class="error-message">{{ emailErrorMessage }}</div>

    <app-password 
      (errorOccurred)="onPasswordError($event)" 
      [(password)]="password">
    </app-password>
    <div *ngIf="passwordErrorMessage" class="error-message">{{ passwordErrorMessage }}</div>

    <app-text 
      [(text)]="text">
    </app-text>
  </div>
  
  <div class="derecha">
    <app-visualizador
      [email]="datosParaVisualizar.email" 
      [password]="datosParaVisualizar.password" 
      [text]="datosParaVisualizar.text" 
      [color]="color">
    </app-visualizador>
  </div>
</div>