<div>
  <app-email [(email)]="email"></app-email>
  <app-password [(password)]="password"></app-password>
  <app-text [(text)]="text"></app-text>
  
  <app-btn-aceptar (aceptar)="onAceptar()"></app-btn-aceptar>
  <app-btn-cancelar (cancelar)="onCancelar()"></app-btn-cancelar>
</div>

<!-- Visualizador para mostrar los datos -->
<app-visualizador 
  *ngIf="mostrarDatos" 
  [email]="datosParaVisualizar.email" 
  [password]="datosParaVisualizar.password" 
  [text]="datosParaVisualizar.text"
></app-visualizador>
